<html>
<head>
  <!-- <link href='http://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'> -->
  <style type="text/css">
    html,body,p,h1,pre {font-family: "Lucida Console", Monaco, monospace; font-size: 13px;}
  </style>
  <title><%= title %></title>
  <% puts request.inspect %>
  <script type="text/javascript">
    function confirmchanges(){
      window.confirm("Are you sure you want to make changes?");
    }
  </script>
</head>
<body>
  <ul>
    <li><a href="/labels">Label Stuff</a></li>
  </ul>
  <%= yield %>
</body>
</html>
